body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
}
.section1{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 50px;
}
.half-width{
    margin-top: 100px;
    width: 35%;
    float: left;
    margin-left: 10%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
    margin-left: -10%;
    padding-left: -5%;
}
h1{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: -10px;
}
.special-color{
    font-size: 50px;
    color: #E31B6D;
}
#first-image{
    margin-left: -10px;
}
#first-heading{
    margin-top: 120px;
    margin-bottom: -40px;
}
.button{
    text-decoration: none;
    padding: 10px 30px;
    background-color: #E31B6D;
    color: white;
    font-weight: 800;
    border-radius: 5px;
    margin-top: 50px;
}
.second-div{
    margin-top: 250px;
    margin-left: -10px;
}
p{
    margin-bottom: 50px;
    margin-top: 20px;
}
.section2{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 50px;
}
.section3{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 50px;
}
.div80{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 50px;
}
.div80 div{
    width: 30%;
    float: left;
    margin: 1.5%;
}
.div80 div img{
    width: 100%;    
}
.div80 h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
}
.section4{
    text-align: center;
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 50px;
    background-position: center;
}
.section4 h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
}
.section4 h5{
    font-weight: 900;
    font-size: 15px;
}
.section4 h6{
    margin-top: -17px;
    font-size: 10px;
}
.section4 p{
    line-height: 25px;
}
.section4 div{
    background-image: linear-gradient(45deg, #ea5599, #ea4d70);
    background-size: 500px;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-decoration: none;
    background-position: center;

}
#s4-p1{
    font-size: 12px;
    color: white;
    padding-top: 30px;
}
#s4-p2{
    font-size:  18px;
    font-weight: 700;
    color: white;
    margin-top: -50px;
    padding-bottom: 30px;
}
#copyright{
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
}
